<div id="welcome-wrapper">
  <div id="welcome-wrapper-inner">

    <div id="welcome-title">
      <h2 id="cover-heading">Social Notebook helps you keep in touch with your people.</h2>
    </div>

    <div class="col-md-5 col-md-offset-1">  
      <h4 class="lead text-success">Stop forgetting to catch up with that old friend you ran into last week, and don't let your monthly dinner with your brother slip your mind. <br><br>Easily track your activities, schedule events, and stop missing the people you actually want to see.</h4>
    </div>
    <div id="sign-in-form" class="col-md-4 col-md-offset-1 well">

        <%= form_for @user, :url => {:controller => 'sessions', :action => 'create', class: "form-horizontal"} do |f| %>
          <legend>Sign In</legend>
          <div class="form-group">
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
          <%= f.submit 'Sign In', class: "btn btn-primary" %><br>
          </div>
        <% end %>
        <hr>

      <%= render 'shared/form' %>
    </div>  
  </div>
</div>