<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Social Notebook</title>
    <%=stylesheet_link_tag 'application' %>
    <%=javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="header">
      Social Notebook
    </div>

    <div id="content" class="container">
      <div id="messages">  
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <%= flash[:notice] %>
        <% end %>
        <% if flash[:alert] %>
          </div>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <%= flash[:alert] if flash[:alert] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
   
    <div class="footer">
      <p>Created by <a href="http://github.com/mwbennett">Mark Bennett</a>.</p>
    </div>

    </div> 
  </body>
</html>