<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Social Notebook</title>
    <%=stylesheet_link_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar">
        <div id="sidebar-wrapper" >
          <div id="current-user-space">
            <div id="current-user">
              <div class="user-name"><%= "#{@user.first_name} #{@user.last_name}" %></div>
              <div class="user-edit"><%= link_to 'Edit', edit_user_path %></div>
              <div class="user-signout"><%= link_to 'Signout', signout_path %></div>
            </div>
          </div>
          <div id="sidebar-menu">
            <ul id="sidebar-menu-items">
              <li id="activities-tab"><%= link_to 'Activities', activities_path %></li>
              <li id="events-tab"><%= link_to 'Events', events_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="messages">  
      <strong><%= session[:user_id] if session[:user_id] %></strong>
      <strong><%= "No user logged in" unless session[:user_id] %></strong>
      <p class="notice"><%= flash[:notice] if flash[:notice] %></p>
      <p class="alert"><%= flash[:alert] if flash[:alert] %></p>
    </div>

    <div id="content">
      <%= yield %>
    </div>
    <div class="footer">
      <p>Created by <a href="http://github.com/mwbennett">Mark Bennett</a>.</p>
    </div>

    </div> 
  </body>
</html>