<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Social Notebook</title>
  </head>

  <body>
    <div id="welcome-wrapper">
      <div id="welcome-wrapper-inner">

        <div id="header">
          <h3 id="app-title">Social Notebook</h3>
        </div>
          
        <div id="welcome-content"> 
          <div id="welcome-alerts">
            <strong><%= session[:user_id] if session[:user_id] %></strong>
            <strong><%= "No user logged in" unless session[:user_id] %></strong>
            <p class="notice"><%= flash[:notice] if flash[:notice] %></p>
            <p class="alert"><%= flash[:alert] if flash[:alert] %></p>
          </div>
        </div>
        
        <div id="welcome-title">
          <h1 class="cover-heading">Stop flaking.</h1>
        </div>

        <div id="welcome-message">  
          <p class="lead">Social Notebook helps you keep in touch with your people. Stop forgetting to catch up with that old friend you ran into last week, and don't let your montly dinner with your brother slip your mind. Easily track your activities, schedule events, and stop missing the people you actually want to see.</p>
        </div>

        <div id="welcome-forms">
          <%= yield %>
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="footer-inner">
        <p>Created by <a href="http://github.com/mwbennett">Mark Bennett</a>.</p>
      </div>
    </div>
    
  </body>
</html>